*
{
    margin: 0;
    padding: 0;
    outline: none;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 31, 85);
    border-radius: 10px;
    text-align: center;
}
h1
{
    color: white;
}
.input
{
    text-align: left;
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px 0px 20px;
    border: solid white 1px;
    border: none;
    border-radius: 10px;
    background-color: none;
    font-size: 18px;
}
.item-input
{
    text-align: left;
    width: auto;
    height: 50px;
    margin: 5px;
    padding: 0px 20px 0px 20px;
    border-style: none;
    border: solid white 1px;
    border-radius: 10px;
    background: none;
    font-size: 18px;
    color: white;
}
.item
{
    margin-bottom: px;

}
.boton-agregar
{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}
.boton-editar
{
    width: 50px;
    height: 50px;
    margin: 0px 5px 0px 5px;
    border-style: none;
    border-radius: 10px;
    background: none;
    color:  #62d0ff;
    font-size: 1.4rem;
    
}

.boton-remover
{
    width: 50px;
    height: 50px;
    margin: 0px 5px 0px 0px;
    border-style: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 6, 46);
    color: white;
    font-size: 20px;
}
.boton-agregar:hover
{
    opacity: 0.9;

}
